<% var title = "MonkeyCruncher dashboard" %>
<% include header.html %>
<body style='padding-top: 40px;'>
<div class='container'>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class='container-fluid'>
                <a class="brand" href="#">MonkeyCruncher dashboard</a>
                <ul class="nav">
                    <li><a>Logged in as <%= user.username %></a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><form class='navbar-form'><a class='btn btn-danger' href="/logout">Logout</a></form></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='span12'>
            <h1 style='padding-top: 40px'>Your worksheets</h1>
        </div>
    </div>
    <div class='row'>
        <div class='span12'>
            <table class="table table-striped table-bordered">
                <% worksheets.forEach(function(ws){ %>
                <tr>
                    <td><a href="/edit/<%= ws.id %>" target="_blank"><%= ws.name %></a>
                    <span class='pull-right'>
                        <a class='btn btn-mini btn-danger' href="/delete.html?worksheetID=<%= ws.id %>">Delete</a>
                    </span>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='span4'>
            <a href="/create.html" class="btn btn-success">Create new worksheet</a>
        </div>
    </div>
</div>
</body>
</html>