<% var title = "Delete worksheet ..." %>
<% include header.html %>

<body style='margin-top: 90px;'>
<div class='container'>
    <div class='row'>
        <div class='span6 offset3'>
            <form class="form-horizontal" action="/delete" method="post">
                <legend>Are you sure ?</legend>
                <input type="hidden" name="worksheetID" value="<%= worksheetID %>" />
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>